*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #141414;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Mobile scrolling fix */
@media only screen and (max-width: 600px) {
  html, body {
    overflow-x: hidden;
  }
  body {
    position: relative;
  }
}